In [1]:
import datetime as dt
import pandas as pd
import numpy as np
import csv
import sys

In [2]:
#carregar arquivo
base_filtrada = pd.read_csv('dataset-filtrado.csv',sep=',',encoding='iso-8859-1', dtype='object', usecols=['mac-sta', 'sTime-forward', 'ap'])

In [3]:
#passando pra datetime 
base_filtrada['sTime-forward-datetime'] = pd.to_datetime(base_filtrada['sTime-forward'], origin = 'unix', unit = 's')
#base_filtrada['sTime-forward-datetime']

In [4]:
base_filtrada['sTime-forward-datetime-time'] = base_filtrada['sTime-forward-datetime'].dt.strftime("%H")
#base_filtrada['sTime-forward-datetime-time']

In [5]:
base_filtrada['sTime-forward-datetime-day'] = base_filtrada['sTime-forward-datetime'].dt.strftime("%d")
#base_filtrada['sTime-forward-datetime-day']

In [6]:
base_filtrada_dia_24_11h = base_filtrada[(base_filtrada['sTime-forward-datetime-day']== '24') & (base_filtrada['sTime-forward-datetime-time']== '11')]
#base_filtrada_dia_24_11h

In [7]:
tmin = base_filtrada_dia_24_11h['sTime-forward'].min()

In [8]:
#achando o tnovo partindo de 0s
tmin = float(tmin)
base_filtrada_dia_24_11h['sTime-foward-0start'] = base_filtrada_dia_24_11h['sTime-forward'].astype(float).map(lambda x: x - tmin)
#base_filtrada_dia_24_11h['sTime-foward-0start']

C:\Users\CarolinaBaptistadeli\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
base_filtrada_dia_24_11h.head()

,sTime-forward,mac-sta,ap,sTime-forward-datetime,sTime-forward-datetime-time,sTime-forward-datetime-day,sTime-foward-0start
35124072,1524567606.71,d0:17:c2:8f:80:3b,ap0222,2018-04-24 11:00:06.710000038,11,24,0.00
35124073,1524567617.59,d0:17:c2:8f:80:3b,ap0222,2018-04-24 11:00:17.589999914,11,24,10.88
35124074,1524567607.79,1c:91:48:b4:47:e8,ap0604,2018-04-24 11:00:07.789999962,11,24,1.08
35124075,1524567623.96,68:fb:7e:72:8a:be,ap0055,2018-04-24 11:00:23.960000038,11,24,17.25
35124076,1524567623.96,68:fb:7e:72:8a:be,ap0055,2018-04-24 11:00:23.960000038,11,24,17.25

In [10]:
base_dia_24_11h_foward = base_filtrada_dia_24_11h.replace({'dur+msec-forward': {'0': '1', '0.0': '1.0'}})

In [11]:
base_dia_24_11h_foward = base_dia_24_11h_foward.sort_values(['sTime-foward-0start'])

In [12]:
base_dia_24_11h_foward.head()

,sTime-forward,mac-sta,ap,sTime-forward-datetime,sTime-forward-datetime-time,sTime-forward-datetime-day,sTime-foward-0start
35124072,1524567606.71,d0:17:c2:8f:80:3b,ap0222,2018-04-24 11:00:06.710000038,11,24,0.00
35124074,1524567607.79,1c:91:48:b4:47:e8,ap0604,2018-04-24 11:00:07.789999962,11,24,1.08
35124073,1524567617.59,d0:17:c2:8f:80:3b,ap0222,2018-04-24 11:00:17.589999914,11,24,10.88
35124075,1524567623.96,68:fb:7e:72:8a:be,ap0055,2018-04-24 11:00:23.960000038,11,24,17.25
35124076,1524567623.96,68:fb:7e:72:8a:be,ap0055,2018-04-24 11:00:23.960000038,11,24,17.25

In [13]:
#extrair base com modificações
base_dia_24_11h_foward[['sTime-foward-0start', 'ap', 'mac-sta']].to_csv('base_11h_cliente_em_cada_ap.txt', encoding='utf-8', sep=',', index=False, header=False)