In [1]:
import datetime as dt
import pandas as pd
import numpy as np
import csv
import sys

In [2]:
#carregar arquivo
base_filtrada = pd.read_csv('dataset-filtrado.csv',sep=',',encoding='iso-8859-1', dtype='object', usecols= ['sTime-forward', 'mac-sta', 'ap', 'dIP-forward'])

In [3]:
#passando pra datetime 
base_filtrada['sTime-forward-datetime'] = pd.to_datetime(base_filtrada['sTime-forward'], origin = 'unix', unit = 's')
#base_filtrada['sTime-forward-datetime']

In [4]:
import datetime as dt
base_filtrada['sTime-forward-datetime-time'] = base_filtrada['sTime-forward-datetime'].dt.strftime("%H")
#base_filtrada['sTime-forward-datetime-time']

In [5]:
base_filtrada['sTime-forward-datetime-day'] = base_filtrada['sTime-forward-datetime'].dt.strftime("%d")
#base_filtrada['sTime-forward-datetime-day']

In [7]:
base_filtrada.head()

,dIP-forward,sTime-forward,mac-sta,ap,sTime-forward-datetime,sTime-forward-datetime-time,sTime-forward-datetime-day
0,162.125.18.133,1523997983.56,1c:9e:46:eb:7d:16,ap0658,2018-04-17 20:46:23.559999943,20,17
1,172.217.29.101,1523997984.76,1c:9e:46:eb:7d:16,ap0658,2018-04-17 20:46:24.759999990,20,17
2,8.8.8.8,1523997985.62,1c:9e:46:eb:7d:16,ap0658,2018-04-17 20:46:25.619999886,20,17
3,172.217.29.78,1523997985.69,1c:9e:46:eb:7d:16,ap0658,2018-04-17 20:46:25.690000057,20,17
4,8.8.8.8,1523997986.41,1c:9e:46:eb:7d:16,ap0658,2018-04-17 20:46:26.410000086,20,17

In [ ]:
base.columns.values

In [ ]:
macs = base['mac-sta'].nunique()

In [ ]:
tnovo = base['sTime-forward'].map(lambda x: x - tmin)

In [18]:
base_macs_agg = base_filtrada.groupby(['sTime-forward-datetime-day', 'sTime-forward-datetime-time'])['mac-sta'].apply(lambda g: g.nunique())

base_destinos_agg = base_filtrada.groupby(['sTime-forward-datetime-day', 'sTime-forward-datetime-time'])['dIP-forward'].apply(lambda g: g.nunique())

In [19]:
base_nos_totais = base_macs_agg + base_destinos_agg

base_nos_totais = base_nos_totais.sort_values()

print(base_nos_totais)

sTime-forward-datetime-day  sTime-forward-datetime-time
26                          01                               163
                            02                               163
                            03                               163
                            04                               163
                            05                               168
                                                           ...
21                          11                             16208
                            10                             16332
20                          15                             16546
                            14                             16673
21                          14                             17195
Length: 217, dtype: int64

In [44]:
base_nos_totais_df = pd.DataFrame(base_nos_totais)
base_nos_totais_df = base_nos_totais_df.rename(columns={0: "Nos totais"})
base_nos_totais_df
base_nos_totais_filtrados = base_nos_totais_df[(base_nos_totais_df['Nos totais']<600) & (base_nos_totais_df['Nos totais']>500)]
#base_nos_totais_filtrados
#base_nos_totais_gt = base_nos_totais_df[base_nos_totais_df.iloc[:>= 60 ]  
#df.iloc[lambda x: x.index % 2 == 0]

In [45]:
base_nos_totais_filtrados['less_600_greater_500'] = base_nos_totais_gt
base_nos_totais_filtrados

C:\Users\CarolinaBaptistadeli\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                                        Nos totais  \
sTime-forward-datetime-day sTime-forward-datetime-time
19                         23                                  509
23                         06                                  522
24                         03                                  525
19                         00                                  527
22                         23                                  528
20                         05                                  529
24                         05                                  533
23                         19                                  535
24                         11                                  539
20                         23                                  551
21                         02                                  554
                           01                                  567
24                         04                                  568
                           18                                  580
                           09                                  587
                           17                                  588
22                         03                                  591
24                         21                                  596

                                                        less_600_greater_500
sTime-forward-datetime-day sTime-forward-datetime-time
19                         23                                           True
23                         06                                           True
24                         03                                           True
19                         00                                           True
22                         23                                           True
20                         05                                           True
24                         05                                           True
23                         19                                           True
24                         11                                           True
20                         23                                           True
21                         02                                           True
                           01                                           True
24                         04                                           True
                           18                                           True
                           09                                           True
                           17                                           True
22                         03                                           True
24                         21                                           True

In [ ]:
#base_tempo_tmin = open('base_tempo_tmin.txt', 'r'),
for line in base_nos_totais_df:
    pass
print(line)

In [40]:
base_aps_agg = base_filtrada.groupby(['sTime-forward-datetime-day', 'sTime-forward-datetime-day'])['ap'].apply(lambda g: g.nunique())

In [ ]:
base_nos_totais_aps = base_macs_agg + base_destinos_agg + base_aps_agg

In [44]:
base_nos_totais_aps_df = pd.DataFrame(base_nos_totais_aps)
base_nos_totais_aps_df = base_nos_totais_df.rename(columns={0: "Nos totais"})
base_nos_totais_aps_df
base_nos_totais_aps_filtrados = base_nos_totais_aps_df[(base_nos_totais_aps_df['Nos totais']<600) & (base_nos_totais_aps_df['Nos totais']>500)]
#base_nos_totais_filtrados
#base_nos_totais_gt = base_nos_totais_df[base_nos_totais_df.iloc[:>= 60 ]  
#df.iloc[lambda x: x.index % 2 == 0]

In [45]:
base_nos_totais_aps_filtrados['less_600_greater_500'] = base_nos_totais_gt
base_nos_totais_aps_filtrados

C:\Users\CarolinaBaptistadeli\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                                        Nos totais  \
sTime-forward-datetime-day sTime-forward-datetime-time
19                         23                                  509
23                         06                                  522
24                         03                                  525
19                         00                                  527
22                         23                                  528
20                         05                                  529
24                         05                                  533
23                         19                                  535
24                         11                                  539
20                         23                                  551
21                         02                                  554
                           01                                  567
24                         04                                  568
                           18                                  580
                           09                                  587
                           17                                  588
22                         03                                  591
24                         21                                  596

                                                        less_600_greater_500
sTime-forward-datetime-day sTime-forward-datetime-time
19                         23                                           True
23                         06                                           True
24                         03                                           True
19                         00                                           True
22                         23                                           True
20                         05                                           True
24                         05                                           True
23                         19                                           True
24                         11                                           True
20                         23                                           True
21                         02                                           True
                           01                                           True
24                         04                                           True
                           18                                           True
                           09                                           True
                           17                                           True
22                         03                                           True
24                         21                                           True